body {
  font-family: Montserrat;
}

.nav-btn {
  width: 100px !important;
  height: 37px;
  border-width: 1.5px !important;
  font-size: 14px !important;
  margin-right: 80px !important;
  background-color: rgb(20, 20, 20) !important;
}

.navbar-nav {
  padding-left: 140px !important;
}

.navbar {
  padding-top: 15px !important;

  height: 75px;
}

.nav-item {
  padding-right: 28px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.25s;
}

.nav-item:hover {
  transform: scale(1.05);
}

.nav-link {
  color: rgb(182, 182, 182) !important;
}

.btn:hover {
  cursor: pointer;
}

.main-left-content {
  padding-top: 22%;
}

.main-left-content h1 {
  font-size: 5.5rem !important;
  font-weight: 600;
  color: rgb(218, 218, 218);
}

.shadowcustom {
  color: white;
  font: bold 52px Helvetica, Arial, Sans-Serif !important;
  text-shadow: 1px 1px 2px #fe02bf, 2px 2px #fe02bf, 3px 3px #fe4902;
}

.main-left-container {
  background-color: rgb(20, 20, 20);
}

.main-left-btn {
  width: 150px !important;
  border-radius: 5px !important;
  border-width: 1.5px !important;
  margin-top: 10px;
}

.btn {
  transition: 0.25s !important;
  border-radius: 5px !important;
}
.btn:hover {
  transform: scale(1.05) !important;
}

#reinvented {
  color: rgb(46, 176, 219);
}

.main-right-container {
  background: url("../assets/mainbackground.jpg");
  background-repeat: no-repeat;
  background-size: 90% 110%;
  background-position: 50px -50px;
}

.section1 {
  background-color: rgb(20, 20, 20);
}
